#main{
        display: flex;
        padding: 0px;
}

*{
    margin: 0;
    padding: 0;
    background-color: thistle;
}
#third{
    padding-bottom: 0px;

}
#sec{
    padding-bottom: 20px;
}

#footer{
    /* clear: both; */
    position:absolute;
    align-items: end;
    background-color: honeydew;
   
    /* margin-top: 300px;  */
    /* text-align: end; */
    bottom:0;

    
}
img{
    border: 5px solid rgb(160, 91, 206);
    
}
#links{
    padding-top: 10px;
    padding: 10px;
}
.lin{
    margin: 20px;
    padding: 12px;
    color: rgb(6, 3, 3);
    background-color: rgb(164, 125, 201);
    border-radius: 12px;
}
.lin:hover{
    background-color: blueviolet;
    color: aliceblue;

}
#fun{
    align-items: end;
    justify-content: end;
    text-align: end;
}

#btn{

    margin: 10px;
    font-size: larger;
    background-color:rgb(172, 102, 200);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border-radius: 20px; */
    border-start-start-radius:  300px;
    border-end-end-radius:  300px;
    

  
}
#btn:hover{
    /* background-color: rgb(101, 20, 20)128, 128, 128); */
    background-color: #7e1076;
    color: white;
    box-shadow: 0px 5px 5px 0px #bc3eb4;
    border-color: rgb(87, 21, 149);
    border-start-start-radius:  100px;
    border-end-end-radius:  100px;

}
#btn2{
    border-radius: 20px;

}
#pic2{
    align-items: center;
}

